<head>
  <title>phonebrush</title>
</head>

<body>
{{> console}}
{{> viewer}}
</body>

<template name="console">
    <div>
        <p>X: <span id="console-x">0</span></p>
        <p>Y: <span id="console-y">0</span></p>
        <p>Z: <span id="console-z">0</span></p>
        <p>X velocity: <span id="console-x-vel">0</span></p>
        <p>Y velocity: <span id="console-y-vel">0</span></p>
        <p>Z velocity: <span id="console-z-vel">0</span></p>
        <p>X acceleration: <span id="console-x-accel">0</span></p>
        <p>Y acceleration: <span id="console-y-accel">0</span></p>
        <p>Z acceleration: <span id="console-z-accel">0</span></p>
        <p>Drawing?: <span id="console-drawing">false</span></p>
    </div>
</template>

<template name="viewer">
    {{#constant}}
        <div id="viewer"></div>
        <button id="clear-btn">Clear</button>
    {{/constant}}
</template>
